/* 웹페이지 상단 헤더영역의 CSS 관리 */
.header {
    font-family: "JalnanGothic";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}
.active {
    background-color: white;
}
/* 헤더 영역을 나눔 */
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.75rem;
    max-width: 67.5rem;
    margin: 0 auto;
}

.header__start {
    line-height: 2.5rem;
    width: 20%;
}
.header__title {
    /* display: block; */
    padding-left: 5%;
    color: #a4a4a4;
    font-size: 1.5rem;
}

.header__center {
    width: 70%;
}
a.header__title__a,
a.nav__wrapper__a {
    text-decoration-line: none;
    color: black;
}
.nav {
    display: block;
}
ul.nav__wrapper {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    margin: 0;
}
ul.nav__wrapper li {
    font-size: 1rem;
    display: flex;
    padding: 2.5%;
}

.header__end {
    width: 10%;
}

img.darkmode {
    max-width: 70%;
    height: auto;
    float: right;
    padding-right: 5%;
}

/* 우측 nav bar */
.nav__right {
    font-family: "JalnanGothic";
    z-index: 1;
    position: fixed;
    right: 2vw;
    top: 38.5vh;
    justify-content: center;
    align-items: center;
}
.nav__right__wrapper {
    flex-direction: column;
    align-items: flex-end;
    /* margin-right: -10px; */
    padding-right: 0;
    display: flex;
}
.nav__right__wrapper li {
    font-size: 0.1;
    display: flex;
    padding: 1rem;
}
/* img.dot{
    max-width:40%; 
    height:auto;
    float: right;
    padding-right: 5%;
} */
a.nav__right__wrapper__a {
    text-decoration-line: none;
    color: black;
}
