#intro {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/me1_half_trans.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(190, 190, 190);
}
.wrap {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.intro__intro {
    color: black;
    max-width: 55vw;
    margin: 0 auto;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    font-family: "IBMPlexSansKR-Regular";
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.intro__intro__title {
    color: rgb(46, 39, 1);
    font-family: "JalnanGothic";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 7vh;
}

.intro__intro__textbox {
    color: rgb(115, 115, 115);
    background-color: white;
    max-width: 55vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 7vh;
    border-radius: 1rem;
    padding-bottom: 1vh;
}
.intro__intro__icon {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
}
img.intro__intro__idea {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    object-position: 0 0;
}
.intro__intro__textbox__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-weight: 600;
}

.about {
    max-width: 55vw;
    margin: 0 auto;
    width: 100%;
}

.intro__intro__aboutme__title {
    color: rgb(115, 115, 115);
    align-items: end;

    display: flex;
    font-size: 1.3rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-weight: 700;
}

.intro__intro__aboutme__content {
    display: block;
    font-size: 1rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-weight: 600;
}

.intro__intro__aboutme__container {
    border-radius: 1rem;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 7vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.intro__intro__aboutme__item__icon {
    display: flex;
    grid-row: 1 / 3;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}
img.intro__intro__aboutme__item__icon__img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}
.intro__intro__aboutme__item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 3fr;
    /* row-gap: 1rem; */
    /* column-gap: 1rem; */
}
a.intro__intro__a {
    /* text-decoration-line: none; */
    color: black;
}
