#portfolio {
    width: 100%;
    /* height: 100vh; */
    margin: 0 auto;
    padding-top: 4.6875rem;
    /* color: black; */
    font-family: Noto Sans KR;
    background-color: #444;
}

.portfolio__title {
    color: white;
    font-family: "JalnanGothic";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 8vh;
}

.portfolio__container {
    /* background-color: aquamarine; */
    margin: 0 auto;
    max-width: 60vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
    /* row-gap: 1rem;
    column-gap: 1rem;
    font-family: 'JalnanGothic'; */
}

.portfolio__wrapper {
    font-family: "IBMPlexSansKR-Regular";
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 8fr;
    width: 100%;
    height: 75vh;
    border-radius: 2rem;
    margin-bottom: 7vh;
}

.portfolio__wrapper__title {
    background-color: white;
    font-size: 1.5rem;
    color: #222;
    font-family: "JalnanGothic";
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: thick double #222;
    padding-top: 0.5rem;
}

.portfolio__wrapper__content {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    width: 100%;
    height: 100%;
}

.portfolio__wrapper__content__text__wrapper > .portfolio__bold__text {
    font-weight: bold;
}

.portfolio__wrapper__content__photo {
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__wrapper__content__text {
    background-color: white;
    padding-left: 1rem;
    padding-top: 1rem;
}

.portfolio__wrapper__content__text__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 0.5rem;
}

.portfolio__nomal__text {
    line-height: 1.7;
}

/* 디테일 효과 */
.tile {
    /* display: inline-block; */
    /* margin: 10px; */
    /* text-align: left; */
    /* opacity: 0.99; */
    /* overflow: hidden; */
    position: relative;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); */
    color: black;
    text-decoration-line: none;
}
.tile:before {
    content: "";
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 100%
    );
    width: 100%;
    height: 50%;
    /* opacity: 0; */
    position: absolute;
    top: 100%;
    /* left: 0; */
    /* z-index: 2; */
    transition-property: top, opacity;
    transition-duration: 0.3s;
}
.tile .portfolio__wrapper__content {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.tile .details {
    font-size: 1rem;
    padding: 1.25rem;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.tile .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
}
.tile .details .title {
    line-height: 1;
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 10vh;
}
.tile .details .info {
    line-height: 1.2;
    padding-bottom: 1vh;
    font-size: 1.25rem;
}
.tile:focus:before,
.tile:focus span,
.tile:hover:before,
.tile:hover span {
    opacity: 1;
}
.tile:focus:before,
.tile:hover:before {
    top: 50%;
}
.tile:focus span,
.tile:hover span {
    top: 0;
}
.tile:focus .title,
.tile:hover .title {
    transition-delay: 0.15s;
}
.tile:focus .info,
.tile:hover .info {
    transition-delay: 0.25s;
}
